# Compilados
bin/
obj/
[Bb]uild/
[Bb]uilds/
x64/
x86/

# Configuración de VS
.vs/
*.user
*.suo

# Archivos de publicación
publish/
*.Publish.xml

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
*.cache

# Archivos de dependencias NuGet
*.nupkg
packages/

# Archivos generados por Windows
Thumbs.db
ehthumbs.db
desktop.ini
